.footer-section {

    width: 100%;
    padding: 50px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    position: relative;
}

.footer-left {
    max-width: 500px;

}




.footer-left p {
    line-height: 1.4;
    margin-top: 10px;
    font-size: 13px;

}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.copy-right {
    color: var(--text-secondary);
    font-size: 12px;

}

.custom-shape-divider-top-1774820529 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1774820529 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 120px;
}

.custom-shape-divider-top-1774820529 .shape-fill {
    fill: #616e8842;
    /* fill: #3f88cc71; */
}
.custom-shape-divider-top-1774820530 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
}

.custom-shape-divider-top-1774820530 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 180px;
}

.custom-shape-divider-top-1774820530 .shape-fill {
    fill: #616e8842;
    /* fill: #3f88cc71; */
}


@media(max-width:750px) {
    .custom-shape-divider-top-1774820529 svg {
        height: 90px;
    }
    .custom-shape-divider-top-1774820530 svg {
        height: 90px;
    }

}